/* .about-body{
    width: 100vh;
    height: 100vh;

}

.about-body .content h1{
    padding: 5%;
}
.line{
    height:0px;
    width:1px;
    border-bottom:1px solid #00f;
    
    -webkit-animation: increase 3s;
    -moz-animation:    increase 3s; 
    -o-animation:      increase 3s; 
    animation:         increase 3s; 
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;

  }
  
  @keyframes increase {
      100% {
          width: 150px;
      }
  }
.about-body .content p{
    position: relative;
    padding: 4rem;
    
}
.mask-abt{
    width: 100%;
    height: 100%;
    position: relative;
}
.about-body .mask-abt .bg{
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: center;
    object-fit: cover;
}   
/* .about-body .content .image{
    width: 50vh;
    height: 50vh;
} */

/* @media screen and(max-width: 768px){

    .about-body .content p{
        position: relative;
        top: 100%;
        left: 0;
    }
}  */


.about-body{
    width: 100%;
    height: 100vh;
}

.about-body .about-head{
    position: absolute;
    transform: translate(-50%, -50%);
    top: 115%;
    left: 50%;
    

}

.about-body .about-head h1{
    font-size: 2.5rem;

}
.about-body .about-content {
    position: absolute;
    top: 125%;
}
.line1{
    height:0px;
    width:1px;
    border-bottom:1px solid #00f;
    
    -webkit-animation: increase 3s;
    -moz-animation:    increase 3s; 
    -o-animation:      increase 3s; 
    animation:         increase 3s; 
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;

  }
  
  @keyframes increase {
      100% {
          width: 100px;
      }
  }
.mask-abt{
    width: 100%;
    height: 100%;
    position: relative;
}
.img3{
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    object-fit: cover;
}  

.about-body .my-photo{
    position: absolute;
    top: 130%;
    left: 60%;
}
.about-body .my-photo p{
    position: absolute;
    top: 115%;
    left: 15%;
    font-size: 1.8rem;
}

/* .mask3::after{
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #000;
    opacity: 0.8;

} */






@media screen and (max-width:1040px){
    .about-body{
        width: 100%;
        height: 100vh;
    }
    
    .about-body .about-head{
        position: absolute;
        transform: translate(-50%, -50%);
        font-size: 1rem;
    }

    .about-body .about-content p{
        font-size: 0.7rem;
    }
    .about-body .my-photo{
        width: 100px;
        height: 100px;
        position: absolute;
        top: 140%;
        left: 5%;
    }
    .about-body .my-photo p{
        position: absolute;
        top: 360%;
        left: 100%;
        font-size: 1rem;
    }

}