/* .project-container{
    position: relative;
    transform: translate(-50%, -50%);
    margin-top: 165%;
    margin-left: 50%;
} */

.project1{
    max-width: 700px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 40px;
    padding-bottom: 5rem;
    left: 20%;
}

.project2{
    max-width: 700px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 40px;
    padding-bottom: 5rem;
    left: 40%;
}
.project3{
    max-width: 700px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 40px;
    padding-bottom: 5rem;
    left: 40%;
}

.project-card{
    background: #1a1919;
    padding: 1.2rem 1rem;
}

.project-card img{
    width: 100%;
}
.project-title{
    color: #fff;
    padding: 1rem 0;
}

.pro-details p{
    padding-bottom: 1rem;
    font-size: 1.1rem;
    text-align: justify;
}

@media screen and (max-width:740px){
    .project1{
        max-width: 90%;
        margin: auto;
        grid-template-columns: 1fr;
    }
    .project2{
        max-width: 90%;
        margin: auto;
        grid-template-columns: 1fr;
    }
    .project3{
        max-width: 90%;
        margin: auto;
        grid-template-columns: 1fr;
    }
}